// Place all the styles special to the SCI app here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-bar#sci-nav {
  background-color: #1D3D46;
  border-color: #12252B;
  border-radius: 0px;

  .has-form {
    background-color: #1D3D46;
  }
  
  li a, .name, .topbar-text {
    color: #BFC5C6;
  }

  li.name {
    opacity: 0.7;
  }

  .topbar-text {
    opacity: .5;
  }

  .active a, .name.active a {
      color: #DFEDF1;
  }

  .section > .active > a, .top-bar .section > .active > a:hover, .top-bar .section > .active > a:focus {
    background-color: #12252B;
  }
}

.accordion-navigation .content {
  height: 250px;
  overflow: auto;
}

.table {
  width: 100%;
}

#patient-nav {
  background: #EDF1F2;
  border-radius: 0;
  min-height: 90px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-top: 5px;
  height: auto;

  .list-container, .panel.callout {
    margin-bottom: 5px;
    padding: 10px;
  }


  .label {
    color: #fff;
    margin: 7px;
  }

  a .patient-name {
    display: inline;
    float: left;
    font-size: 20px;
    color: #1D3D46;    
    &:hover {
      color: #428bca;
      text-decoration: underline;
    }
  }
  h4 {
    color: #1D3D46;
    } 

  li {
    color: #1D3D46;
    font-size: 12px;
    opacity: .8;
  }  
  
}

.panel { 
  border-radius: 0px;
  border-color: #ddd;
  background-color: #fff;
  
  h3 {
    color: #1D3D46;
    size: 14px;
    margin: 10px;
    border: #1D3D46;
    font-weight: 500;
  }
  h4 {
    color: #808E8E;
    font-size: 14px;
  }

  .form-horizontal .control-label {
    color: #4d4d4d;
    font-weight: normal;
    font-size: 14px;
  }

  .instrument-title {
    margin-left: 10px;
  }

  .instrument, .callout, .callout-blank {
    label {
      font-weight: normal;
    }
  }

  .hide .instrument {
    border: none;
    padding: 0px;
    margin: 0px;
  }

  .callout-blank {
    background-color: #fff;
    margin: 0px 10px;
  }
  .instrument, .callout {
    background-color: #EDF1F2;
    border: 1px dashed #ccc;
    margin: 0px 10px 35px 10px;
    padding: 20px 20px 20px 20px;
    .crazy-table {
      label, .input {
        display: block;
        clear: both;
        text-align: right;
        height: 20px;
        margin-bottom: 10px;
      }
      label {
        padding-top: 5px;
      }
      label.category {
        color: #808E8E;
        text-transform: uppercase;
      }
      label.top {
        text-align: center;
      }
      // TODO FIX
      &.columns {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .instrument:hover, .callout:hover {
    border: 1px dashed #ddd;
  } 
  
  a {
    color: #808E8E;
  }
} 

.panel.patient-sidebar {
    background-color: #EDF1F2;
}

.button.large.dropdown-toggle {
  margin-top: -20px;
  height: 60px;
  padding: 16px;
}

// Some hacks for simple form
.radio_buttons.form-control {
  height: auto;
  border: none;
  box-shadow: none;
}
.radio.radio-inline, .checkbox-inline {
  padding-left: 0px;
  margin-top: 0px;
  height: 35px;
  float: left;

  label {
    margin-left: 10px;
  }
}

.radio.radio-inline, .checkbox {
  input {
    margin-right: 7px;
  }
}
.border-left{
  border-left: 1px solid #999;
}
