// Place all the styles special to the SCI app here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-inverse#sci-nav {
  background-color: #1D3D46;
  border-color: #12252B;
  border-radius: 0px;

  li a, .navbar-brand, .navbar-text {
    color: #BFC5C6;
  }

  .navbar-brand {
    opacity: 0.7;
  }

  .navbar-text {
    opacity: .5;
  }

  .active a, .navbar-brand.active a {
      color: #DFEDF1;
  }

  .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #12252B;
  }
}

#patient-nav {
  background: #EDF1F2;
  padding: 10px;
  border-radius: 0;
  margin-top: -20px;
  border-top: 1px solid #999;
  min-height: 90px;
  border-bottom: 1px solid #ddd;

  .row {
    padding-top: 10px;
  }

  a .patient-name {
    display: inline;
    float: left;
    font-size: 20px;
    color: #1D3D46;    
    &:hover {
      color: #428bca;
      text-decoration: underline;
    }
  }

  .label {
    margin: 10px;
    vertical-align: bottom;
  }

  h4 {
    color: #1D3D46;
    } 

  li {
    margin-right: 30px;
    color: #1D3D46;
    font-size: 12px;
    opacity: .8;
    display: block;
    width: 100%;
  }
}

.panel.panel-default { 
  border-radius: 0px;
  border-color: #ddd;
  
  .panel-heading {
    background-color: #EDF1F2;
  }
  .panel-title {
    color: #1D3D46;
    size: 14px;
    margin: 10px;
    border: #1D3D46;
  }
  h4 {
    color: #808E8E;
    font-size: 14px;
  }

  .panel-title {
    font-weight: 500;
  } 

  .form-horizontal .control-label {
    color: #4d4d4d;
    font-weight: normal;
    font-size: 14px;
  }

  .instrument-title {
    margin-left: 10px;
  }

  .instrument, .callout, .callout-blank {
    label {
      font-weight: normal;
    }
  }

  .callout-blank {
    background-color: #fff;
    margin: 0px 10px;
    padding: 0px 20px 20px 20px;
  }
  .instrument, .callout {
    background-color: #EDF1F2;
    border: 1px dashed #ccc;
    margin: 0px 10px 35px 10px;
    padding: 20px 20px 20px 20px;
    .crazy-table {
      label, .form-group {
        display: block;
        clear: both;
        text-align: right;
        height: 20px;
        margin-bottom: 10px;
      }
      label {
        padding-top: 5px;
      }
      label.category {
        color: #808E8E;
        text-transform: uppercase;
      }
      label.top {
        text-align: center;
      }
      // TODO FIX
      &.one.columns {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .instrument:hover, .callout:hover {
    border: 1px dashed #ddd;
  } 
  
  a {
    color: #808E8E;
  }
} 

.panel.panel-default.patient-sidebar {
    background-color: #EDF1F2;
}


.btn.btn-default.btn-lg.btn-block.btn-block-nav.dropdown-toggle {
  margin-top: -20px;
  height: 60px;
  padding: 16px;
}

// some usability accordion stuff
.panel-heading {
    cursor: pointer;
}
.panel-group .panel.panel-default {
  border-radius: 0px;
}

// Some hacks for simple form
.radio + .radio, .checkbox + .checkbox {
    margin-top: 0px;
}
.radio_buttons.form-control {
  height: auto;
  border: none;
  box-shadow: none;
}
.radio.radio-inline, .checkbox-inline {
  padding-left: 0px;
  margin-top: 0px;
  height: 35px;

  label {
    margin-left: 10px;
  }
}

.clickable-row {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.border-left{
  border-left: 1px solid #999;
}
