<% if !@patients || @patients.empty? %>
    Nothing to report.
<% else %>    


  <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.ssn %></td>
        <td><%= patient.facility.official_name %></td>
      </tr>
  <% end %>

<%end%>
