
<div id="container">
  <%= render partial: 'index' %>
</div>

<script>
  $('#facilities').on('change', function(e){
      $.getScript('patients.js?facility_id='+$(this).val())
      //alert 'WORKS!';
  })
</script>